.menu.span3
  .separator Contos
  ul.unstyled
    li.active
      a(href='#')
        i.icon-inbox
        | Mais Recentes
    li
      a(href='#')
        i.icon-eye-open
        | Mais Lidos
    li
      a(href='#')
        i.icon-star
        | Mais Votados
    li
      a(href='#')
        i.icon-random
        | Conto Aleatorio
  .separator Categorias
  ul.unstyled
    li
      a(href='#')
        i.icon-camera-retro
        | Category 1
    li
      a(href='#') Category 2
    li
      a(href='#') Category 3
    li
      a(href='#') Category 4
    li
      a(href='#') Category 5
