<div class='menu span3'>
  <div class='menu-separator'>Contos</div>
  <ul class='menu-list menu-favorites'>
    {{#each favorites}}
      <li>
        <a href='#'>
          <i class='icon-{{icon}}'></i>
          {{name}}
        </a>
      </li>
    {{/each}}
  </ul>
  <div class='menu-separator'>Categorias</div>
  <ul class='menu-list menu-categories'>
  </ul>
</div>

