extends layout

block content
  ul.unstyled.stories
    each story in stories
      li
        h2
          a(href="contos/#{story.id}")= story.value.title
        p= story.value.content
        .timeago 2 dias atras
        .tags
          div
            i.icon-tags
          ul.unstyled
            each tag in story.value.tags
              li
                a(href="/categorias/#{tag}")= tag
