extends layout

block content
  ul.unstyled.stories
    each story in stories
      li
        h2
          a(href="contos/#{story.id}")= story.title
        p.summary= story.content
        .timeago 2 dias atras
        .tags
          div
            i.icon-tags
          ul.unstyled
            each tag in story.tags
              li
                a(href="/categorias/#{tag}")= tag
