extends layout

block content
  ul.unstyled.stories
    li
      h2
        a(href='#') One, Two, Three Little Indians
      p.summary Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam bibendum ante ut mi malesuada ullamcorper pellentesque ...
      .timeago dois dias atras
      .tags
        div
          i.icon-tags
        ul.unstyled
          li
            a(href='#') indians
          li
            a(href='#') white men
          li
            a(href='#') settles
