doctype 5
html
  head
    title Gozando a Vida
    script(src= '/javascripts/baco.min.js')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
    link(rel='stylesheet', href='/stylesheets/content.css')
    link(rel='stylesheet', href='/stylesheets/menu.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,600,700')
  body
    .container
      h1 Gozando a Vida
      .wrapper.row
        .menu.span3
          .separator Categorias
          ul.unstyled
            li.active
              a(href='#') Category 1
            li
              a(href='#') Category 2
            li
              a(href='#') Category 3
            li
              a(href='#') Category 4
            li
              a(href='#') Category 5
        .content.span9
          .header
          block content
