doctype 5
html
  head
    title Gozando a Vida
    script(src= '/javascripts/baco.min.js')
    link(rel='stylesheet', href='/stylesheets/baco.min.css')
  body
    .container
      h1 Gozando a Vida
      .wrapper.row
        .menu.span3
          .separator Categorias
          ul.unstyled
            li.active
              a(href='#') Category 1
            li
              a(href='#') Category 2
            li
              a(href='#') Category 3
            li
              a(href='#') Category 4
            li
              a(href='#') Category 5
        .content.span9
          .header
          block content
