doctype 5
html
  head
    title= title
    script(src= '/javascripts/baco.min.js')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/menu.css')
  body
    .container
      h1 Gozando a Vida
      .wrapper.row
        .menu.span3
          .separator Categorias
          ul.unstyled
            li Category 1
            li Category 2
            li Category 3
            li Category 4
            li Category 5
        .content.span9
          block content
