doctype 5
html
  head
    title Gozando a Vida
    script(src= '/javascripts/baco.min.js')
    link(rel='stylesheet', href='/stylesheets/baco.min.css')
  body
    .container
      h1 Gozando a Vida
      .wrapper.row
        include includes/menu
        .content-pane.span9
          .header
          .content
            block content
