<div class='menu span3'>
  <div class='menu-separator'>Contos</div>
  <ul class='menu-list menu-favorites'>
    {{#each favorites}}
      {{> menu_item }}
    {{/each}}
  </ul>
  <div class='menu-separator'>Categorias</div>
  <ul class='menu-list menu-categories'>
  </ul>
</div>

