body {
  background: #ccc;
}
.content {
  margin-left: 0;
  padding: 0 10px;
  background: #fff;
  height: 500px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 8px rgba(0,0,0,0.4);
  box-shadow: 3px 3px 8px rgba(0,0,0,0.4);
}
.menu {
  margin-top: 5px;
  background-color: #2b2b2f;
  color: #fff;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-box-shadow: 3px 3px 8px rgba(0,0,0,0.4);
  box-shadow: 3px 3px 8px rgba(0,0,0,0.4);
}
.menu ul,
.menu div {
  padding: 10px;
}
.menu .separator {
  margin: 10px;
  background-color: #1f1f22;
}
.menu ul li {
  padding: 5px;
}
