@import 'nib/vendor'

.menu
  margin-top: 5px
  background-color #2B2B2F
  color #fff
  border-radius(top left 5px, bottom left 5px)
  box-shadow(3px 3px 8px rgba(0,0,0,0.4))
  ul, div
    padding 10px
  .separator
    margin 10px
    background-color #1F1F22
    border-radius(5px)
    text-shadow(1px 1px rgba(0,0,0,0.5))
  ul li
    padding 5px
