@import 'nib/vendor'

.content-pane
  margin-left 0
  background #fff
  height 500px
  border-radius(5px)
  box-shadow(3px 3px 8px rgba(0,0,0,0.4))

  .header
    height 30px
    padding 5px
    background #eee
    border-bottom 1px solid #ddd
    border-radius(top left 5px, top right 5px)

  .content
    padding 10px
